
header{
    height: 100px;
    background-color: rgb(184, 116, 121);
    text-align: center;
    padding-top: 35px;
    color: white;
}

h1{
    text-transform: uppercase;
    font-size: 25px;
    letter-spacing: 15px;
}

.capitalize{
    text-transform: capitalize;
}